.header {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  border-bottom: 2px solid white;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.divider {
  width: 2px;
  height: 24px;
  background-color: white;
}

.main {
  padding: 42px;
}

.link {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}