.product {
  display: flex;
  flex: 1 1 300px;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #fdfdfd26;
  img {
    width: 120px;
  }

  &:nth-child(-n + 2) {
    flex-direction: row-reverse;
  }
}

.product-light {
  background: #fdfdfdbd;
  color: black;
}
